[mysqld]
# 字符集
character-set-server=utf8mb4
collation-server=utf8mb4_0900_ai_ci
# 时区
default-time-zone=+8:00
# 性能优化
max_connections=200
innodb_buffer_pool_size=512M
innodb_log_file_size=128M
# 关闭DNS解析，加速连接
skip-name-resolve

[mysql]
default-character-set=utf8mb4
